<ion-header> </ion-header>

<ion-content>
	<ion-img [src]="logo" class="shrink"></ion-img>
	<form novalidate (ngSubmit)="onLoginUser(form)" #form="ngForm">
		<ion-item>
			<ion-label position="floating"><ion-icon slot="start" name="mail-outline"></ion-icon> E-Mail </ion-label>
			<ion-input type="text" name="username" [(ngModel)]="user.username" required minlength="6"></ion-input>
			<span *ngIf="invalid" color="danger">Username is required</span>
		</ion-item>

		<ion-item>
			<ion-label position="floating"><ion-icon name="document-text-outline"></ion-icon> Password</ion-label>
			<ion-input type="password" name="username" [(ngModel)]="user.password" required minlength="6"></ion-input>
			<span *ngIf="invalid" color="danger">Password is required</span>
		</ion-item>

		<ion-row>
			<ion-col size="12">
				<ion-button expand="block" inline color="primary" type="submit">
					Login
				</ion-button>
			</ion-col>
		</ion-row>
	</form>

	<ion-button routerLink="/register" expand="block" fill="clear" shape="round">
		Register
	</ion-button>

	<ion-col>
		<div class="ion-text-center">
			Or SingUp using
		</div>
	</ion-col>

	<ion-row>
		<ion-col size="6">
			<ion-button (click)="onLoginGoogle()" expand="block" class="google">
				<ion-icon slot="start" name="logo-google"></ion-icon>
				Google
			</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button (click)="onLoginTwitter()" expand="block" class="twitter">
				<ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
				Twitter
			</ion-button>
		</ion-col>
	</ion-row>

	<ion-button routerLink="/recover" expand="block" fill="clear" shape="round">
		Recover Password
	</ion-button>
</ion-content>
