<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Minerva - Store</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item lines="none">
			<ion-card>
				<img src="../../../assets/img/minerva_login.png" />
				<ion-card-header>
					<ion-card-subtitle>Look</ion-card-subtitle>
					<ion-card-title>Trump T-shirt</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				</ion-card-content>
				<ion-item lines="none">
					<ion-button fill="solid">$9.99</ion-button>
					<ion-icon name="heart" slot="end"></ion-icon>
					<ion-icon name="share" slot="end"></ion-icon>
				</ion-item>
			</ion-card>
		</ion-item>
		<ion-item>
			<ion-card>
				<img src="../../../assets/img/minerva_login.png" />
				<ion-card-header>
					<ion-card-subtitle>Look</ion-card-subtitle>
					<ion-card-title>Trump T-shirt</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				</ion-card-content>
			</ion-card>
		</ion-item>
		<ion-item>
			<ion-card>
				<img src="../../../assets/img/minerva_login.png" />
				<ion-card-header>
					<ion-card-subtitle>Look</ion-card-subtitle>
					<ion-card-title>Trump T-shirt</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				</ion-card-content>
			</ion-card>
		</ion-item>
		<ion-item>
			<ion-card>
				<img src="../../../assets/img/minerva_login.png" />
				<ion-card-header>
					<ion-card-subtitle>Look</ion-card-subtitle>
					<ion-card-title>Trump T-shirt</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				</ion-card-content>
			</ion-card>
		</ion-item>
		<ion-item>
			<ion-card>
				<img src="../../../assets/img/minerva_login.png" />
				<ion-card-header>
					<ion-card-subtitle>Look</ion-card-subtitle>
					<ion-card-title>Trump T-shirt</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				</ion-card-content>
			</ion-card>
		</ion-item>
	</ion-list>
</ion-content>
