<ion-content> </ion-content>

<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="init">
			<ion-icon name="home-outline"></ion-icon>
			<ion-label>Inicio</ion-label>
			<ion-badge>6</ion-badge>
		</ion-tab-button>

		<ion-tab-button tab="store">
			<ion-icon name="cash-outline"></ion-icon>
			<ion-label>Store</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="news">
			<ion-icon name="newspaper-outline"></ion-icon>
			<ion-label>News</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="about">
			<ion-icon name="information-circle"></ion-icon>
			<ion-label>About</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
